In [1]:
Uncommend to install relevant packages
#!pip3 install requests (my computer)
#!pip3 install bs4
#!pip install requests

import requests
from bs4 import BeautifulSoup

In [2]:
# get html
page = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&diff=945633050&oldid=942851379')
soup = BeautifulSoup(page.text, 'html.parser')

In [84]:
# import pandas and read table into dataframe
import pandas as pd

df = pd.read_html(str(soup.find_all('table')[1]))[0]

In [85]:
# show dataframe
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [86]:
# Remove unassigned postcodes
df = df[df['Borough']!='Not assigned']
df.reset_index(inplace=True)
df

     index Postcode           Borough             Neighbourhood
0        2      M3A        North York                 Parkwoods
1        3      M4A        North York          Victoria Village
2        4      M5A  Downtown Toronto              Harbourfront
3        5      M6A        North York          Lawrence Heights
4        6      M6A        North York            Lawrence Manor
..     ...      ...               ...                       ...
205    281      M8Z         Etobicoke  Kingsway Park South West
206    282      M8Z         Etobicoke                 Mimico NW
207    283      M8Z         Etobicoke        The Queensway West
208    284      M8Z         Etobicoke     Royal York South West
209    285      M8Z         Etobicoke            South of Bloor

[210 rows x 4 columns]

In [97]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x:', '.join(x)).to_frame().reset_index()
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [98]:
df.shape

(103, 3)